<!-- END HEADER -->
<section class="pageheader-default">
  <div class="semitransparentbg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="tabs tabs-style-linemove5">
                                  <nav>
                                      <ul class="nav nav-pills">
                                          <li class=""><a class="nav-linka tab1-1 active completed" href="#tab-1" data-toggle="tab" data-tabs="1" title="Personal Information"><i class="fa fa-newspaper-o tabs-icon">PAPER</i><span>1. SELECT NEWS PAPER</span></a></li>
                                          <li class=""><a class="nav-linka tab2-2 " href="" data-toggle="tab" data-tabs="2" title="Passport Information"><i class="fa fa-edit tabs-icon">COMPOSE</i><span>2. COMPOSE AD</span></a></li>
                                          <li class=""><a class="nav-linka tab3-3" href="" data-toggle="tab" data-tabs="3" title="Contractual Information"><i class="fa fa-credit-card tabs-icon">PAY</i><span>3. PAYMENTS</span></a></li>
                                      </ul>
                                  </nav>
              </div>
            </div>
        </div>
      </div>
  </div>
</section>
<!-- WRAPPER -->
<div class="wrapper wrapsemibox">

  
  <div class="semiboxshadow text-center">
    <img src="img/shp.png" class="img-responsive" alt="">
  </div>
  <!-- ABOUT -->
  <section class="container">
      <div class="selected-section">
        <div class="">Description : </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-6 text-resp-right">
              <label class="col-bold-label">Publish Your AD For :</label>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                  <div class="dec button">-</div>
                  <div class="days-content">
                    <div class="input-append input-group">
                      <input type="text" name="days" id="days-val" value="3" class="form-control"/>
                      <span class="input-group-addon">Days</span>
                    </div>
                  </div>
                  <div class="inc button">+</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="packages-container">
            <div class="packages-header">
              Select Dates :
            </div>
            <div class="packages-content">
              <div id="mdp-demo" #mdpdemo></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="packages-container">
            <div class="packages-header">
              Selected Dates :
            </div>
            <div class="packages-content" style="min-height:280px;">
              <input type="text" id="altField" #altField value="" class="form-control"/>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="packages-container">
            <div class="packages-header">
              Special Schemes/Packages 
            </div>
            <div class="packages-content" style="min-height:280px;">
              <label class="col-form-label">Select to Apply :</label>
              <div class="mt-radio-list">
                                                          <label class="m-radio m-radio--bold">
                                                              <input type="radio" name="optionsRadios" id="optionsRadios22" value="option1" > None
                                                              <span></span>
                                                          </label>
                                                          <label class="m-radio m-radio--bold">
                                                              <input type="radio" name="optionsRadios" id="optionsRadios23" value="option2" > 2+1 (15 Days)
                                                              <span></span>
                                                          </label>
                                                          <label class="m-radio m-radio--bold">
                                                              <input type="radio" name="optionsRadios" id="optionsRadios24" value="option3" > 3 ADs= Rs. 2100
                                                              <span></span>
                                                          </label>
                                                      </div>
            </div>
          </div>
        </div>
      </div>
        
            
          
      
                  <div class="row">
          <div class="col-md-2 pull-left">
            <div class="form-group">
              <a href="#" class="btn btn-xs btn-round btn-primary">Back</a>
            </div>
          </div>
          <div class="col-md-2 pull-right text-right">
            <div class="form-group">
              <a href="javascript:void(0)" (click)="getCompose()" class="btn btn-xs btn-round btn-primary">Compose Your AD</a>
            </div>
          </div>
        </div>
  </section>
</div>