<section class="pageheader-default">
  <div class="semitransparentbg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="tabs tabs-style-linemove5">
                                  <nav>
                                      <ul class="nav nav-pills">
                                          <li class=""><a class="nav-linka tab1-1 completed" href="#tab-1" data-toggle="tab" data-tabs="1" title="Personal Information"><i class="fa fa-newspaper-o tabs-icon">PAPER</i><span>1. SELECT NEWS PAPER</span></a></li>
                                          <li class=""><a class="nav-linka tab2-2  active completed" href="" data-toggle="tab" data-tabs="2" title="Passport Information"><i class="fa fa-edit tabs-icon">COMPOSE</i><span>2. COMPOSE AD</span></a></li>
                                          <li class=""><a class="nav-linka tab3-3" href="" data-toggle="tab" data-tabs="3" title="Contractual Information"><i class="fa fa-credit-card tabs-icon">PAY</i><span>3. PAYMENTS</span></a></li>
                                      </ul>
                                  </nav>
              </div>
            </div>
        </div>
      </div>
  </div>
</section>
<!-- WRAPPER -->
<div class="wrapper wrapsemibox">

  
  <div class="semiboxshadow text-center">
    <img src="img/shp.png" class="img-responsive" alt="">
  </div>
  <!-- ABOUT -->
  <section class="container">
    <div class="heading mt30">
      <h4><i class="ion ion-person"></i>Booking Summary</h4>
    </div>
      <div class="selected-section">
        <div class="row">
              <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12 text-resp-right">
                <label class="col-form-label">AD Type :</label>
              </div>
              <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                <div class="">
                  <span class="add_value">{{selType.type_name}}</span>
                </div>
              </div>
            </div>
        <div class="row">
              <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12 text-resp-right">
                <label class="col-form-label">AD Category :</label>
              </div>
              <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                <div class="">
                  <span class="add_value">{{category.category_name}}</span>
                </div>
              </div>
            </div>
        <div class="row">
              <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12 text-resp-right">
                <label class="col-form-label">AD Text(Click to Edit) :</label>
              </div>
              <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                <div class="">
                  <div style="background-color:#eee"  [innerHTML]="addcontent"></div>
                  <!-- <textarea class="form-control" name="" rows="2" ></textarea> -->
                </div>
              </div>
            </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered ads-table">
            <thead>
              <tr>
                <th>S No.</th>
                <th>Publication</th>
                <th>Package/Edition</th>
                <!-- <th>Insert</th> -->
                <th>Publish Dates</th>
                <th style="text-align:right;">Total Cost</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1.</td>
                <td>{{paper.paper_name}}</td>
                <td>{{edition.edition_name}}</td>
                <!-- <td>-</td> -->
                <td>{{selecteddates}}</td>
                <td style="text-align:right;">Rs. {{getAmount()}}</td>
              </tr>
              
              <tr>
                <td colspan="4" style="font-weight:600;text-align:right;color:#333;">GST (5%)</td>
                <td style="text-align:right;">Rs. {{getGst()}}</td>
              </tr>
              <tr>
                <td colspan="4" style="font-weight:600;text-align:right;color:#333;">Total Cost </td>
                <td style="text-align:right;">Rs .{{getTotal()}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
          <div class="col-md-2 pull-left">
            <div class="form-group">
              <a href="#" class="btn btn-xs btn-round btn-success">Book More Ads</a>
            </div>
          </div>
          <div class="col-md-2 pull-right text-right">
            <div class="form-group">
              <a href="#promo" class="btn btn-xs btn-round btn-success" data-toggle="collapse" aria-expanded="false" aria-controls="promo">Apply Promocode</a>
            </div>
          </div>
        </div>	
      <div class="row collapse " id="promo">
          <div class="col-md-6 pull-right text-right">
            <div class="row">
              <label class="col-form-label col-md-4 text-right">Enter Promocode :</label>
              <div class="col-md-6 ">
                <div class="form-group">
                  <input type="text" name="" class="form-control" />
                </div>
              </div>
              <div class="col-md-2 pull-right text-right">
                <a href="#" class="btn btn-xs btn-round btn-success btn-outline">Apply</a>
              </div>
            </div>
          </div>
        </div>
        <div class="alert alert-primary">Tip : Want to reduce AD cost? Remove choosen enhancements click to edit AD text.</div>
                  <div class="ads-note">Note : Change of Name Only </div>
        <div class="form-group">
              <div class="m-radio-inline">
                <label class="m-radio m-radio--bold">
                  <input type="radio" name="upload_type" value="1" onclick="javascript:documentCheck();" id="document"> Upload Document
                  <span></span>
                </label>
                <label class="m-radio m-radio--bold">
                  <input type="radio" name="upload_type" value="2" onclick="javascript:documentCheck();" id="willprovide"> Will provide later
                  <span></span>
                </label>
              </div>
            </div>
            <div id="upload-container" style="display:none;">
              <div class="file-upload">
                    <div class="file-select-button" id="fileName">Upload</div>
                    <div class="file-select-name" id="noFile">No file chosen...</div> 
                    <input type="file" name="chooseFile" id="AttachFile">
              </div>
            </div>
            <div class="row" style="margin-top:15px;">
          
          <div class="col-md-2 pull-right text-right">
            <div class="form-group">
              <a href="#" class="btn btn-xs btn-round btn-primary" (click)="checkout()">Continue</a>
            </div>
          </div>
        </div>
  </section>
</div>