<section class="pageheader-default">
  <div class="semitransparentbg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="tabs tabs-style-linemove5">
                                  <nav>
                                      <ul class="nav nav-pills">
                                          <li class=""><a class="nav-linka tab1-1 active completed" href="#tab-1" data-toggle="tab" data-tabs="1" title="Personal Information"><i class="fa fa-newspaper-o tabs-icon">PAPER</i><span>1. SELECT NEWS PAPER</span></a></li>
                                          <li class=""><a class="nav-linka tab2-2 " href="" data-toggle="tab" data-tabs="2" title="Passport Information"><i class="fa fa-edit tabs-icon">COMPOSE</i><span>2. COMPOSE AD</span></a></li>
                                          <li class=""><a class="nav-linka tab3-3" href="" data-toggle="tab" data-tabs="3" title="Contractual Information"><i class="fa fa-credit-card tabs-icon">PAY</i><span>3. PAYMENTS</span></a></li>
                                      </ul>
                                  </nav>
              </div>
            </div>
        </div>
      </div>
  </div>
</section>
<!-- WRAPPER -->
<div class="wrapper wrapsemibox">

  
  <div class="semiboxshadow text-center">
    <img src="img/shp.png" class="img-responsive" alt="">
  </div>
  <!-- ABOUT -->
  <section class="container">
    <div class="heading mt30">
      <h4><i class="ion ion-person"></i>Select Display Type</h4>
    </div>	
    <div class="row">
      <div class="col-md-3">
        <div class="packages-container">
            <div class="packages-header">
              Single Column AD
            </div>
            <div class="packages-content text-center">
              <a href="javascript:void(0)" (click)="getTempleteType(1)" class="btn btn-xs btn-round btn-success">Select</a>
              <p class="adtypetext">Compose your Ad instantly, by modifying existing design templates with your text and images. Economical & Ideal for basic Ad requirements</p>
              <img src="assets/images/addesign1.jpg" class=""/>
            </div>
          </div>
      </div>
      <div class="col-md-3">
        <div class="packages-container">
            <div class="packages-header">
              Multi Column AD
            </div>
            <div class="packages-content text-center">
              <a href="#" class="btn btn-xs btn-round btn-success">Select</a>
              <p class="adtypetext">Greater Impact. Access existing design templates &amp; modify with your text and images. Enjoys greater visibility and presence</p>
              <img src="assets/images/layout24_color.jpg" class=""/>
            </div>
          </div>
      </div>
      <div class="col-md-3">
        <div class="packages-container ">
            <div class="packages-header">
              Upload Existing Design
            </div>
            <div class="packages-content text-center">
              <a href="#" class="btn btn-xs btn-round btn-success">Select</a>
              <p class="adtypetext">Upload your already designed professional art-work in PDF/JPEG/TIFF/PNG </p>
              <img src="assets/images/formats.png" class=""/>
            </div>
          </div>
      </div>
      <div class="col-md-3">
        <div class="packages-container">
            <div class="packages-header">
              Custom Design
            </div>
            <div class="packages-content text-center">
              <a href="#" class="btn btn-xs btn-round btn-success">Select</a>
              <p class="adtypetext">Design your own custom designs by experts </p>
              <img src="assets/images/customdesign.png" class=""/>
            </div>
          </div>
      </div>
    </div>
  </section>
</div>