	<!-- END HEADER -->
	<section class="pageheader-default">
		<div class="semitransparentbg">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="tabs tabs-style-linemove5">
                                    <nav>
                                        <ul class="nav nav-pills">
                                            <li class=""><a class="nav-linka tab1-1 active completed" href="#tab-1" data-toggle="tab" data-tabs="1" title="Personal Information"><i class="fa fa-newspaper-o tabs-icon">PAPER</i><span>1. SELECT NEWS PAPER</span></a></li>
                                            <li class=""><a class="nav-linka tab2-2 " href="" data-toggle="tab" data-tabs="2" title="Passport Information"><i class="fa fa-edit tabs-icon">COMPOSE</i><span>2. COMPOSE AD</span></a></li>
                                            <li class=""><a class="nav-linka tab3-3" href="" data-toggle="tab" data-tabs="3" title="Contractual Information"><i class="fa fa-credit-card tabs-icon">PAY</i><span>3. PAYMENTS</span></a></li>
                                        </ul>
                                    </nav>
								</div>
							</div>
					</div>
				</div>
		</div>
	</section>
	<!-- WRAPPER -->
	<div class="wrapper wrapsemibox">

		
		<div class="semiboxshadow text-center">
			<img src="img/shp.png" class="img-responsive" alt="">
		</div>
		<!-- ABOUT -->
		<section class="container">
				<div class="selected-section">
					<div class="row">
						<div class="col-md-3 col-xs-12">
							<div class="selected-add-label">YOU HAVE SELECTED</div>
						</div>
						<div class="col-md-9 col-xs-12">
							<div class="row">
								<div class="col-md-4 col-xs-4 text-center">
									<div class="">{{selType.type_name}}</div>
									<img *ngIf="selType.id==1" src="assets/images/classified_text.png" class="cltype-img" height="80"/>
									<img *ngIf="selType.id==2" src="assets/images/classified_display.png" class="cltype-img" height="80"/>
								</div>
								<div class="col-md-3 col-xs-4 text-center">
									<div class="selected-category-image">
										<img *ngIf="category.image==''"  src="assets/images/categories/recruitments_image.png"/>
										<img *ngIf="category.image!==''"  src="{{logourl}}{{category.image}}"/>
										{{category.category_name}}
									</div>
								</div>
								<div class="col-md-4 col-xs-4 text-right">
									<div class="change-btn-container">
										<a href="javascript:void(0)" (click)="changeCat()" class="btn btn-xs btn-warning">Change Category</a>
									</div>
								</div>
							</div>
						</div>
					</div> 
				</div>
				<div class="row" *ngIf="target_by=='paper'">
					<div class="col-md-12">
								<div class="selection-paper-container">
									<div class="row">
										<div class="col-md-4">
											<label class="col-form-label">Select News Paper</label>
											<div class="form-group">
												<select class="form-control" (change)="getEditonBasedonNewspaper($event.target.value)">
													<option value="default">----Please Select----</option>
													<!-- <option>Eenadu</option>
													<option>Andhra Jyothhi</option>
													<option>Sakshi</option>
													<option>Deccan Chronicle</option>
													<option>The Hindu</option> -->
													<option *ngFor="let item of papers" (click)="getEditonBasedonNewspaper(item)" [selected]="paper.id==item.id" value="{{item.id}}">{{item.paper_name}}</option>
												</select>
											</div>
										</div>
										<div class="col-md-4">
											<label class="col-form-label">Select city</label>
											<div class="form-group">
												<select class="form-control" (change)="setEdition($event.target.value)">
													<option value="default">----Please Select----</option>
													<!-- <option>Hyderabad</option>
													<option>Vijayawada</option>
													<option>Kakinada</option>
													<option>Razole</option>
													<option>Karimnagar</option> -->
													<option *ngFor="let item of seleditions"  [selected]="edition.id==item.id" value="{{item.id}}">{{item.edition_name}}</option>
												</select>
											</div>
										</div>
										<div class="col-md-4">
											<div class="paper-image">
												<img src="{{getPaperLogo()}}" alt="" width="190.8px" height="72px" />
											</div>
										</div>
									</div>
								</div>
							
						</div>
					</div>
					<div class="row" *ngIf="target_by=='location'">
						<div class="col-md-12">
									<div class="selection-paper-container">
										<div class="row">
											<div class="col-md-4">
												<label class="col-form-label">Select State</label>
												<div class="form-group">
													<select class="form-control" (change)="getEditonBasedonNewspaper($event.target.value)">
														<option value="default">----Please Select----</option>
														<!-- <option>Eenadu</option>
														<option>Andhra Jyothhi</option>
														<option>Sakshi</option>
														<option>Deccan Chronicle</option>
														<option>The Hindu</option> -->
														<option *ngFor="let item of states"  [selected]="state==item.id" value="{{item.id}}">{{item.state_name}}</option>
													</select>
												</div>
											</div>
											<div class="col-md-4">
												<label class="col-form-label">Select city</label>
												<div class="form-group">
													<select class="form-control" (change)="setEdition($event.target.value)">
														<option value="default">----Please Select----</option>
														<!-- <option>Hyderabad</option>
														<option>Vijayawada</option>
														<option>Kakinada</option>
														<option>Razole</option>
														<option>Karimnagar</option> -->
														<option *ngFor="let item of seleditions"  [selected]="edition.id==item.id" value="{{item.id}}">{{item.edition_name}}</option>
													</select>
												</div>
											</div>
											<div class="col-md-4">
												<!-- <div class="paper-image">
													<img src="{{getPaperLogo()}}" alt="" width="190.8px" height="72px" />
												</div> -->
											</div>
										</div>
									</div>
								
							</div>
						</div>
					<!---this will be hide/show based on location or paper -->
					<div class="packages-container" *ngIf="((target_by=='location')&&(edition.id!==''))">
						<div class="packages-header">
							Available Papers
						</div>
						<div class="packages-content">
							<div class="row">
								<div class="col-md-4" *ngFor="let item of locpapers">
									<div class="paper-image" (click)="setPaper(item)">
										<img src="{{logourl}}{{item.logo}}" alt="" />
									</div>
								</div>

								
							</div>
						</div>
					</div>
					<div class="packages-container" *ngIf="((packagesshow)&&(edition.id!==''))">
						<div class="packages-header">
							Available Packages
						</div>
						<div class="packages-content">
							<div class="row" *ngFor="let item of pricesList">
								<div class="col-md-3">
									{{paper.paper_name}}
								</div>
								<div class="col-md-2">
									{{edition.edition_name}}
								</div>
								<div class="col-md-3">
									{{edition.copies}} copies 
								</div>
								<div class="col-md-2">
									{{item.amount}}/<span *ngIf="selType.id==1">line</span><span *ngIf="selType.id==2">Sq.cm</span>
								</div>
								<div class="col-md-2 text-right">
									<a href="javascript:void(0)" (click)="selectOffer(item)" class="btn btn-xs btn-round btn-success">Book Now</a>
								</div>
							</div>
						</div>
					</div>

					<div class="row"  *ngIf="((packagesshow)&&(edition.id!==''))">
						<div class="col-md-12">
							<div class="heading-v1 text-center">
								<h2 class="heading-v1-title">OR</h2>
							</div>
						</div>
					</div>
					<div class="row"  *ngIf="((packagesshow)&&(edition.id!==''))">
						<div class="form-group">
						<div class="col-md-12">
							<div class="offer-content">
								<div class="row">
									<div class="col-md-8">
										<div>TOI - WEST ( Mumbai + Pune + Ahmedabad + Nagpur + Goa + Nashik + Kolhapur + Aurangabad )</div>
									</div>
									<div class="col-md-2">
										<div>Rs.3800/sqcm</div>
									</div>
									<div class="col-md-2 text-right">
										<a href="#" class="btn btn-xs btn-round btn-warning">Select</a>
									</div>
								</div>
							</div>
							<div class="offer-content">
								<div class="row">
									<div class="col-md-8">
										<div>TOI - WEST ( Mumbai + Pune + Ahmedabad + Nagpur + Goa + Nashik + Kolhapur + Aurangabad )</div>
									</div>
									<div class="col-md-2">
										<div>Rs.3800/sqcm</div>
									</div>
									<div class="col-md-2 text-right">
										<a href="#" class="btn btn-xs btn-round btn-warning">Select</a>
									</div>
								</div>
							</div>
							<div class="offer-content">
								<div class="row">
									<div class="col-md-8">
										<div>TOI - WEST ( Mumbai + Pune + Ahmedabad + Nagpur + Goa + Nashik + Kolhapur + Aurangabad )</div>
									</div>
									<div class="col-md-2">
										<div>Rs.3800/sqcm</div>
									</div>
									<div class="col-md-2 text-right">
										<a href="#" class="btn btn-xs btn-round btn-warning">Select</a>
									</div>
								</div>
							</div>
						</div>
						</div>
					</div>
                    <div class="row" style="margin-top:20px;">
						<div class="col-md-2 pull-left">
							<div class="form-group">
								<a href="#" class="btn btn-xs btn-round btn-primary">Back</a>
							</div>
						</div>
						<div class="col-md-2 pull-right text-right">
							<div class="form-group">
								<a href="#" class="btn btn-xs btn-round btn-primary">When To Publish</a>
							</div>
						</div>
					</div>
		</section>
	</div>