<section class="pageheader-default">
  <div class="semitransparentbg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="tabs tabs-style-linemove5">
                                  <nav>
                                      <ul class="nav nav-pills">
                                          <li class=""><a class="nav-linka tab1-1  completed" href="#tab-1" data-toggle="tab" data-tabs="1" title="Personal Information"><i class="fa fa-newspaper-o tabs-icon">PAPER</i><span>1. SELECT NEWS PAPER</span></a></li>
                                          <li class=""><a class="nav-linka tab2-2   completed" href="" data-toggle="tab" data-tabs="2" title="Passport Information"><i class="fa fa-edit tabs-icon">COMPOSE</i><span>2. COMPOSE AD</span></a></li>
                                          <li class=""><a class="nav-linka tab3-3  active completed" href="" data-toggle="tab" data-tabs="3" title="Contractual Information"><i class="fa fa-credit-card tabs-icon">PAY</i><span>3. PAYMENTS</span></a></li>
                                      </ul>
                                  </nav>
              </div>
            </div>
        </div>
      </div>
  </div>
</section>
<!-- WRAPPER -->
<div class="wrapper wrapsemibox">

  
  <div class="semiboxshadow text-center">
    <img src="img/shp.png" class="img-responsive" alt="">
  </div>
  <!-- ABOUT -->
  <section class="container">
      
    <div class="row">
      <div class="heading mt30">
          <h4><i class="ion ion-person"></i>Payment Method :</h4>
        </div>
      <div class="col-lg-6 col-md-6 col-xs-12" style="border-right:solid 1px #CCC;">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-9">
              <div class="form-group">
                <div class="m-checkbox-inline">
                  <label class="m-checkbox m-checkbox--bold">
                    <input type="checkbox" name="terms" val=""/> Debit Card / Netbanking
                    <span></span>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <div class="m-checkbox-inline">
                  <label class="m-checkbox m-checkbox--bold">
                    <input type="checkbox" name="terms" val=""/> Credit Card / Netbanking
                    <span></span>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <div class="m-checkbox-inline">
                  <label class="m-checkbox m-checkbox--bold">
                    <input type="checkbox" name="terms" val=""/> Paytm
                    <span></span>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <div class="m-checkbox-inline">
                  <label class="m-checkbox m-checkbox--bold">
                    <input type="checkbox" name="terms" val=""/> Mobikwik
                    <span></span>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <div class="m-checkbox-inline">
                  <label class="m-checkbox m-checkbox--bold">
                    <input type="checkbox" name="terms" val=""/> Other Wallets
                    <span></span>
                  </label>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12">
        <p>Murthy Media Booking Agent? <a href="#">click here</a></p>
        <p>Agent Code :</p>
        <p>Total Cost : <span style="color:#232323;font-weight:600;">Rs. 1150</span></p>
      </div>
      <div class="row">
            
            <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12 pull-right text-right">
              <div class="form-group">
                <a href="#" class="btn btn-xs btn-primary">Make Payment</a>
              </div>
            </div>
           </div>
        
    </div>
                  
          </section>
</div>